ACTION!="add|change", GOTO="knx_end"

# [WeinzierlEngineering_0E77_0102]
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="0e77", ATTRS{idProduct}=="0102", MODE="0666", GROUP="knx"

# [WeinzierlEngineering_0E77_0103]
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="0e77", ATTRS{idProduct}=="0103", MODE="0666", GROUP="knx"

# [WeinzierlEngineering_0E77_0104]
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="0e77", ATTRS{idProduct}=="0104", MODE="0666", GROUP="knx"

# [WeinzierlEngineering_0E77_2001]
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="0e77", ATTRS{idProduct}=="2001", MODE="0666", GROUP="knx"

LABEL="knx_end"
